# Configurações do Bling V3
BLING_CLIENT_ID=ea4e20b875cfdc7c67c35f1ec84da997a6d757cd
BLING_CLIENT_SECRET=seu_client_secret_bling
BLING_WEBHOOK_SECRET=seu_webhook_secret_bling
BLING_REDIRECT_URI=https://seu-dominio-vercel.vercel.app/api/auth/callback

# Configurações do Systêxtil Cloud
SYSTEXTIL_API_URL=https://api.systextil.com.br
SYSTEXTIL_CLIENT_ID=seu_client_id_systextil
SYSTEXTIL_CLIENT_SECRET=seu_client_secret_systextil
SYSTEXTIL_DEPOSITO_ECOMMERCE=50